@import url(http://fonts.googleapis.com/css?family=Voltaire);
.btn,
.lead,
.navbar,
h1,
h2,
h3,
h4 a,
li,
ol,
p,
ul {
    letter-spacing: 2px
}

.scroll-down a,
.scroll-top a,
header {
    color: #fff
}

.header h1,
h1,
h2,
h3,
h4 a {
    text-transform: uppercase
}

.featurette-item>i,
.vert {
    vertical-align: middle;
    text-align: center
}

.vert,
header {
    text-align: center
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: Helvetica, sans-serif
}

.row {
    margin: 10px 10px;
    padding: 10px 10px;
}

header {
    background-image: url(/image/landing.jpg);
    background-color: rgba(0, 0, 0, .7);
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px
}

header .intro-text .intro-lead-in {
    font-family: Voltaire;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px
}

header .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px
}

@media (min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px
    }
    header .intro-text .intro-lead-in {
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px
    }
    header .intro-text .intro-heading {
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px
    }
}

.btn,
.lead,
.navbar,
.navbar-bold,
h1,
h2,
h3,
h4 a,
li,
ol,
p,
ul {
    font-family: 'Gotham Light', Helvetica, sans-serif
}

p {
    font-size: 100%
}

h1 {
    font-size: 50px
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%)
}

.icon-bar {
    background-color: #fff
}

.scroll-down {
    position: fixed;
    bottom: 20%;
    right: 0;
    color: #f9f9f9
}

.scroll-top {
    background-color: #dbdbdb
}

.vert {
    width: 100%;
    padding-top: 4%
}

.header .btn-lg {
    font-size: 28px;
    border-color: #eee;
    padding: 15px;
    background-color: transparent;
    color: #fff
}

.header .btn-lg:hover {
    background-color: #eee;
    color: #777
}

.navbar a {
    color: #fff;
    font-size: 14px
}

.navbar-bold.affix {
    background-color: #d46054
}

.navbar-bold {
    background-color: #f68076
}

.navbar-bold li a:hover,
.navbar-bold li.active {
    background-color: #d46054
}

.alt,
.alt li a:hover,
.alt li.active,
.alt.affix {
    background-color: #0a2544
}

.header h1 {
    font-size: 80px;
    -webkit-text-stroke: 1px rgba(f, f, f, .1);
    color: #fff;
    margin-left: -5px;
    margin-bottom: 5px
}

.header .lead {
    color: #d46054;
    font-size: 25px
}

.header {
    height: 80%
}

.alt .lead {
    color: #fff
}

.blurb {
    padding: 120px 0;
    background:#e3e3e3
}

.blurb .panel {
    background-color: transparent
}

.bright {
    background: center center fixed #dbdbdb;
    color: #777
}

.featurette {
    background: #6e979f;
    padding: 50px 0;
    color: #fff
}

.featurette-item {
    margin-bottom: 15px
}

.featurette-item>i {
    border: 3px solid;
    border-radius: 50%;
    display: inline-block;
    font-size: 56px;
    width: 140px;
    height: 140px;
    line-height: 136px
}

.featurette-item>i:hover {
    font-size: 68px
}

.callout {
    color: #000;
    padding-top: 7%;
    height: 100%;
    width: 100%;
    background: url(image/home/dronework.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.gallery {
    padding: 50px 0
}

.call-to-action {
    background: #eee;
    padding: 50px 0
}

.call-to-action .btn {
    margin: 10px
}

footer {
    padding: 100px 0
}